@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: rgb(161, 100, 223);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.2rem 3rem;
    font-family: inherit;
}
.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: none;
}